
	body {
	    background-color: #d8e4fe;
	}

	h1 {
	    color: #00CCFF;
	    text-align: center;
	}

	a {
            text-align: center;
	    font-family: "Times New Roman";
	    font-size: 70px;
	}

	#div1 {
	    text-align: center;
	    margin: auto;
	    background: blue;
	    text-indent: 30px;
	}

	#div2 {
	    text-align: center;
	    margin: auto;
	    background: blue;
	    font-size: 30px;
	}

	#div3 {
	    text-align: center;
	    margin: auto;
	    background: blue;
	    text-indent: 30px;
	}


